@import "reset";

@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400);

@import "../../node_modules/material-ui/src/less/scaffolding.less";
@import "../../node_modules/material-ui/src/less/components.less";
@import (inline) "../../node_modules/react-spinner/react-spinner.css";

@import "variables";
@import "overrides";

@import "widgets/dialog";
@import "widgets/reactable";
@import "widgets/spinner";

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  background: url("/img/bg.png") repeat;
  height: auto;
  min-height: 100%;
  text-align: center;
}

@import "logout";
@import "error-dialog";

@import "pages/home";
@import "pages/logs";
@import "pages/login";
@import "pages/devices";