@import "reset";

@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400);

@import "variables";

@import "../../node_modules/material-ui/docs/dist/less/scaffolding.less";
@import "../../node_modules/material-ui/docs/dist/less/components.less";

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
}