@import "reset";

@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400);

@import "../../node_modules/material-ui/docs/dist/less/scaffolding.less";
@import "../../node_modules/material-ui/docs/dist/less/components.less";
@import (inline) "../../node_modules/react-spinner/react-spinner.css";

@import "variables";
@import "overrides";

@import "spinner";
@import "error-dialog";
@import "reactable";
@import "logout";

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  background: url("/img/bg.png") repeat;
  height: auto;
  min-height: 100%;
  text-align: center;
}

@import "home";
@import "logs";
@import "login";
@import "devices";