.mui-input {

  margin-bottom: 55px;

  input {
    &:focus, &:valid {
      &+.mui-input-placeholder {
        color: @primary-1-color;
        &+.mui-input-highlight {
          background-color: @primary-1-color;
          &+.mui-input-bar {
            &::before, &::after {
              background-color: @primary-1-color;
            }
          }
        }
      }
    }
  }

  .mui-input-description {
    color: @primary-1-color;
  }
}

.mui-app-canvas {
  width: 100%;
}
.mui-app-content-canvas {
  margin-top: 40px;
  display: inline-block;
  margin-bottom: 40px;
  text-align: left;

  .mui-paper > .mui-paper-container {
    height: auto;
  }
}